bq-sa/keys.json
.terraform/
*.tfstate
*.tfstate.backup
*.tfvar
.terraform/providers/
billing/.terraform/
  
  billing/keys.json
  compute_engine/keys.json
  terraform.lock.hcl
  .terraform/providers/registry.terraform.io/hashicorp/google/6.23.0/linux_amd64/LICENSE.txt
  .terraform/providers/registry.terraform.io/hashicorp/google/6.23.0/linux_amd64/terraform-provider-google_v6.23.0_x5
  